/* @settings

name: Local Quotes
id: local-quotes-styles
settings:
    -
        id: local-quotes-h
        title: Refresh button
        type: heading
        level: 2
        collapsed: true
    -
        id: local-quotes-button-size
        title: Size
        description: Size of the button in pixels
        type: variable-number
        default: 16
        format: px
	-
        id: local-quotes-button-corner
		title: Corner position
		description: Just choose a corner of the refresh button
		type: class-select
		allowEmpty: false
		default: lq-btn-top-right
		options:
            - lq-btn-top-right
            - lq-btn-top-left
            - lq-btn-bottom-right
            - lq-btn-bottom-left
	-
		id: local-quotes-button-indent-v
		title: Vertical indent from corners
		description: How far from corner button should be (from top or bottom)
        type: variable-number
        default: 10
        format: px
	-
		id: local-quotes-button-indent-h
		title: Horizontal indent from corners
		description: How far from corner button should be (from left or right)
        type: variable-number
        default: 10
        format: px
*/


/*noinspection CssUnresolvedCustomProperty*/
.block-language-localquote svg {
	transition: all 0.6s ease !important;
	display: inline;
	position: absolute;
	top: var(--local-quotes-button-indent-v, 10px);
	bottom: unset;
	right: var(--local-quotes-button-indent-h, 10px);
	left: unset;
	opacity: 0;
	min-width: var(--local-quotes-button-size, 16px);
	min-height: var(--local-quotes-button-size, 16px);
}

/*noinspection CssUnresolvedCustomProperty*/
.lq-btn-top-right .block-language-localquote svg {
	top: var(--local-quotes-button-indent-v, 10px) !important;
	bottom: unset !important;
	right: var(--local-quotes-button-indent-h, 10px) !important;
	left: unset !important;
}

/*noinspection CssUnresolvedCustomProperty*/
.lq-btn-top-left .block-language-localquote svg {
	top: var(--local-quotes-button-indent-v, 10px) !important;
	bottom: unset !important;
	right: unset !important;
	left: var(--local-quotes-button-indent-h, 10px) !important;
}

/*noinspection CssUnresolvedCustomProperty*/
.lq-btn-bottom-right .block-language-localquote svg {
	top: unset !important;
	bottom: var(--local-quotes-button-indent-v, 10px) !important;
	right: var(--local-quotes-button-indent-h, 10px) !important;
	left: unset !important;
}

/*noinspection CssUnresolvedCustomProperty*/
.lq-btn-bottom-left .block-language-localquote svg {
	top: unset !important;
	bottom: var(--local-quotes-button-indent-v, 10px) !important;
	right: unset !important;
	left: var(--local-quotes-button-indent-h, 10px) !important;
}

.block-language-localquote {
	position: relative;
}

.block-language-localquote:hover svg {
	transition: all 0.6s ease !important;
	opacity: 1;
	cursor: pointer;
}

/*noinspection CssUnresolvedCustomProperty*/
.block-language-localquote svg:active {
	transition: all 0.6s ease;
	color: var(--md-color-text-muted, var(--text-muted), gray);
}

.local-quotes-modal-button-container {
	text-align: center;
	margin-top: 20px;
}

.local-quotes-modal-button-container > .setting-item {
	display: inline-block;
	border: none;
}

.local-quotes-modal-button-container > .setting-item:first-child {
	margin-right: 10px;
}

/*noinspection CssUnresolvedCustomProperty*/
p.local-quotes-heading-desc {
	font-size: var(--font-settings-small, 10px);
	color: var(--text-muted, gray);
	font-style: italic;
	margin-top: -10px;
	margin-bottom: 15px;
}

p.local-quotes-statistics-p {
	margin: 0 0 2px 10px;
}
