.local-quotes-modal-button-container {
	text-align: center;
	margin-top: 20px;
}

.local-quotes-modal-button-container > .setting-item {
	display: inline-block;
	border: none;
}

.local-quotes-modal-button-container > .setting-item:first-child {
	margin-right: 10px;
}

/*noinspection CssUnresolvedCustomProperty*/
p.local-quotes-heading-desc {
	font-size: var(--font-settings-small, 10px);
	color: var(--text-muted, gray);
	font-style: italic;
	margin-top: -10px;
	margin-bottom: 15px;
}

p.local-quotes-statistics-p {
	margin: 0 0 2px 10px;
}
